.card {
  padding: 20px 20px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0);
  box-shadow: 3px 3px 10px rgba(36, 36, 36, 0.137);
}

.card:hover {
  border: 1px solid rgb(158, 50, 158);
  transition: border 0.3s ease-in;
}

.card__img {
  width: 50%;
  display: block;
  margin: 0 auto;
  height: 100px;
}

.card__price {
  font-size: 23px;
  font-weight: bold;
  text-align: center;
  color: rgb(238, 189, 56);
  margin: 20px 10px;
}

.card__name {
  text-align: center;
  font-size: 15px;
  margin: 20px 10px;
}

.card__button {
  color: white;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(6, 155, 6);
  border: 1px solid rgb(103, 196, 103);
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card__button:active {
  background-color: rgb(4, 85, 4);
}
