.card {
  padding: 20px 20px;
  border-radius: 8px;
  border: 1px solid rgb(236, 230, 230);
  background-color: white;
}

.card:hover {
  box-shadow: 3px 1px 10px rgba(36, 36, 36, 0.137);
  transition: box-shadow 0.1s ease-in;
}

.card__img {
  width: 50%;
  display: block;
  margin: 0 auto;
  height: 100px;
}

.card__price {
  font-size: 23px;
  font-weight: bold;
  text-align: center;
  color: rgb(78, 78, 247);
  margin: 20px 10px;
}

.card__name {
  text-align: center;
  font-size: 15px;
  margin: 20px 10px;
}

.card__button {
  color: white;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(6, 155, 6);
  border: 1px solid rgb(103, 196, 103);
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card__button:active {
  background-color: rgb(4, 85, 4);
}
