.card {
  width: 22%;
  min-width: 210px;
  height: 280px;
  margin: 10px 10px;
  padding: 20px 20px;
  border-radius: 5px;
  display: inline-block;
  border: 1px solid rgb(236, 230, 230);
  background-color: whitesmoke;
}

.card:hover {
  border: 1px solid purple;
  /* box-shadow: 3px 1px 10px rgba(0, 0, 0, 0.137); */
  transition: border 0.5s ease-in;
}

.card__img {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
}

.card__price {
  font-size: 23px;
  font-weight: bold;
  text-align: center;
  color: rgb(78, 78, 247);
  margin: 20px 10px;
}

.card__name {
  text-align: center;
  font-size: 15px;
  margin: 20px 10px;
}

.card__button {
  color: white;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(6, 155, 6);
  border: 1px solid rgb(103, 196, 103);
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card__button:active {
  background-color: rgb(4, 85, 4);
}
